{{ define "title" }}Impressum{{ end }}

{{ define "content" }}
  <h1>Impressum</h1>
  <section>
    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>David Battefeld<br/>
      Reichenberger Straße 5C, 13055 Berlin</p>
    <h2>Kontakt</h2>
    <p>Telefon: 030-609 470 72<br/>
      E-Mail: <a href="mailto:davidbattefeld@pm.me">davidbattefeld@pm.me</a></p>
    <p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
  </section>
{{ end }}
