{{ define "title" }}Animal Facts - Home{{ end }}

{{ define "content" }}
  <h1>Animal Facts API</h1>
  <section>
    <p>On this website you will find lots of interesting tidbits about our fluffy quacking friends.</p>
  </section>

  <section>
      <div class="pond">
        <div id="duck">
          <img src="/assets/static/svg/swimming_duck.svg" alt="swimming duck" width="50">
        </div>
      </div>
  </section>
{{ end }}