{{ define "title" }}Animal Facts - Home{{ end }}

{{ define "content" }}
  <h1>Animal Facts API</h1>
  <section>
    <p>On this website you will find lots of interesting tidbits about our fluffy quacking friends.</p>
  </section>
{{ end }}
