{{ define "title" }}Duck Pond{{ end }}

{{ define "content" }}
  <h1>Duck Pond</h1>
  <section>
    <p>Please enjoy this peaceful duck swimming in its pond.</p>
  </section>

  <section>
      <div class="pond">
        <div id="duck">
          <img src="/assets/static/svg/swimming_duck.svg" alt="swimming duck" width="50">
        </div>
      </div>
  </section>
{{ end }}